@model SRMS.Models.manipulatorinfoSet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>manipulatorinfoSet</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.x)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.x)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.y)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.y)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.speed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.speed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.catchnum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.catchnum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.buildtime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.buildtime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lineinfoSet.code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lineinfoSet.code)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
