@model SRMS.Models.deviceinfoSet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>deviceinfoSet</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.productor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.productor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.devicetype)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.devicetype)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.totallifetime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.totallifetime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.usedlifetime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usedlifetime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.buildtime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.buildtime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lineinfoSet.code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lineinfoSet.code)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
