@model IEnumerable<SRMS.Models.lineworkinfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sampletime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.finishnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.errornum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bulidtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lineinfoSet.code)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sampletime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.finishnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.errornum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bulidtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lineinfoSet.code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
